<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/attandance.css">
  <script type="module" src="/js/attendance.js"></script>
  <title>하남교회 고등부 출석부</title>
</head>
<body>
  <header>
    <div class = "header">
      <div class="chooseGrade">
        <div class="wrapGrade">
          
        </div>
      </div>
      <div class="wrapDate"></div>
      <div class="ex-box">
        <div class="loading-wrap loading-wrap--js">
          <div class="loading-spinner loading-spinner--js"></div>
          <p id="loadingMessage"></p>
        </div>
      </div>
    </div>
  </header>
  <div class="wrapAttendance"></div>
  <div id="studentDetails" class="studentDetails">
    <div class="FLOATING_DIV_MASK"></div>
    <div class="FLOATING_DIV_BLOCK">
        <div class="FLOATING_CONTENT">
            <div id="add-modal" class="addModal">
                <div id="modal-close-button" class="modal-close-button">
                    <span>
                        <svg class="closeSvg" viewBox="0 0 24 24">
                            <title>닫기</title>
                            <path d="M4.92893219,19.0710678 C1.02368927,15.1658249 1.02368927,8.83417511 4.92893219,4.92893219 C8.83417511,1.02368927 15.1658249,1.02368927 19.0710678,4.92893219 C22.9763107,8.83417511 22.9763107,15.1658249 19.0710678,19.0710678 C15.1658249,22.9763107 8.83417511,22.9763107 4.92893219,19.0710678 Z"></path>
                            <path d="M15.5355339 15.5355339L8.46446609 8.46446609M15.5355339 8.46446609L8.46446609 15.5355339"></path>
                        </svg>
                    </span>
                </div>
                <div id="studentInfo" class="studentInfo">
                    sample
                </div>
            </div>
        </div>
    </div>
  </div>

  </div>
  <footer>
    <div class="footer">
      ✅ 총원 :<strong class="checkOnClass">1</strong>/
      <strong class="totalOnClass">1</strong>명
      ✅ 제적 :<strong class="checkOnList">1</strong>/
      <strong class="totalOnList">1</strong>
      ✅ 새친구 :<strong class="checkNewCount">1</strong>/
      <strong class="totalNewCount">1</strong>
    </div>
  </footer>
</body>
</html>