<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
  <link rel="stylesheet" href="/css/checkAllYearBoard.css">
  <link rel="stylesheet" href="/css/student.css">
  <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
  <script type="module" src="/js/checkAllYearBoard.js"></script>
  <title>하남교회 고등부 출석부</title>
</head>
<body>
  <header>
    <div class = "header">
      <div class="chooseGrade">
        <div class="wrapGrade" style="display: flex; gap: 10px;">
          <div class="gradeDiv contentText"><h2>🐤 전체출석부</h2></div>
          <div class="chooseYear">
            <select class="yearSelect" id="yearSelect">
              <option value="2025">2025년</option>
              <option value="2024">2024년</option>
            </select>
          </div>
        </div>
      </div>
      <br>
      <div class="wrapDate"></div>
      <div class="ex-box">
        <div class="loading-wrap loading-wrap--js">
          <div class="loading-spinner loading-spinner--js"></div>
          <p id="loadingMessage"></p>
        </div>
      </div>
    </div>
  </header>
  <div class="wrapAttendance"></div>

  </div>
  <footer>
    <div class="footer">
      <a href="https://www.youtube.com/@hanamchurch_DreamHigh">
        <img class="youtubeLogo" src="/img/youtube.png" alt="youtubeLogo">
      </a>
    </div>
  </footer>
</body>
</html>