<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/attandance.css">
  <link rel="stylesheet" href="/css/student.css">
  <script type="module" src="/js/checkAllBoard.js"></script>
  <title>하남교회 고등부 출석부</title>
</head>
<body>
  <header>
    <div class = "header">
      <div class="chooseGrade">
        <div class="wrapGrade">
          <div class="gradeDiv contentText"><h2>🐤 전체출석부</h2></div>
        </div>
      </div>
      <div class="wrapDate"></div>
      <div class="ex-box">
        <div class="loading-wrap loading-wrap--js">
          <div class="loading-spinner loading-spinner--js"></div>
          <p id="loadingMessage"></p>
        </div>
      </div>
    </div>
  </header>
  <div class="wrapAttendance"></div>

  </div>
  <footer>
    <div class="footer">
      <a href="https://www.youtube.com/@hanamchurch_DreamHigh">
        <img class="youtubeLogo" src="/img/youtube.png" alt="youtubeLogo">
      </a>
    </div>
  </footer>
</body>
</html>