<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/choose-class.js"></script>
  <title>하남교회 고등부 출석부</title>
</head>
<body>
  <div class="topContent">
    <img class="logoImage" src="/img/dreamhigh-1160x763.png" alt="Logo">
    <h2 class="title">꿈을 갖고 세상 속으로<br>하남교회 드림하이!</h2>
  </div>
  <div class="chooseGrade">
    <div class="subtitle">반을 선택해주세요</div>
    <div id="wrapClass">
      
    </div>
  </div>
  <footer>
    <div class="footer">
      <img class="youtubeLogo" src="/img/youtube.png" alt="youtubeLogo">
    </div>
  </footer>
</body>
</html>