body {
  font-family: 'Noto Sans KR', sans-serif;
}

.topContent {
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  margin-top: 10%;
}

.logoImage {
  width: 40%;
}

.chooseGrade,
.goToTeacherCare {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.subtitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5%;
}

.contentText {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5%;
}

.title {
  text-align: center;
}

.wrapGrade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.gradeButton {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 40px;
  background-color: #ebebeb;
  border: none;
  padding-top: 3%;
  padding-bottom: 3%;
}

.gradeDiv {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 40px;
  background-color: #ebebeb;
  border: none;
  padding-top: 3%;
  padding-bottom: 3%;
}

.wrapGoogleFormGrade {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.googleForm {
  height: 1.5em;
}

.wrapAttendance {
  margin-top: 30%;
  margin-bottom: 15%; /* footer의 높이만큼 여유 공간 확보 */
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  height: 12%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  display: flex;
  margin-top: 5%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #59c1d5;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.youtubeLogo {
  height: 25px;
}

.wrapDate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background-color: white;
}

.dateDiv {
  border: none; /* 테두리 제거 */
  -webkit-appearance: none; /* 기본 디자인 제거 */
  -moz-appearance: none;
  appearance: none; /* 기본 스타일 제거 */
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
  font-size: 1.2em;
  font-weight: bold;
}

.attendanceDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 40px;
  background-color: #ebebeb;
  border: none;
  padding-top: 3%;
  padding-bottom: 3%;
}

.bottomDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border: none;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 1.5em;
}

.attendanceDiv .name {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}

.loading-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
}
.loading-spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #3498db;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ex-box {
  padding: 10px;
}

.codeGreen {
  line-height: normal;
  background: #59c1d5;
  color: white;
  border-radius: 4px;
  font-size: 50%;
  padding: 0.2em 0.4em;
  font-weight: 600;
}

.codeRed {
  line-height: normal;
  background: #d34e74;
  color: white;
  border-radius: 4px;
  font-size: 50%;
  padding: 0.2em 0.4em;
  font-weight: 600;
}

/* floating div*/
.studentDetails {
  display: none;
}

#FLOATING_DIV,
.FLOATING_DIV_MASK,
.FLOATING_DIV_MASK_FOLLOW {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.FLOATING_DIV_MASK,
.FLOATING_DIV_MASK_FOLLOW {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.FLOATING_DIV_BLOCK,
.FLOATING_DIV_BLOCK_FOLLOW {
  position: fixed;
  top: 10%;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.FLOATING_CONTENT,
.FLOATING_CONTENT_FOLLOW {
  margin: 5% 5% 5% 5%;
  background: rgba(255, 255, 255, 1);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.FLOATING_DIV_MASK {
  z-index: 100;
}

.FLOATING_DIV_BLOCK {
  z-index: 200;
}

.FLOATING_DIV_MASK_FOLLOW {
  z-index: 300;
}

.FLOATING_DIV_BLOCK_FOLLOW {
  z-index: 400;
}

@media all and (max-width: 400px) {
  .FLOATING_DIV_BLOCK,
  .FLOATING_DIV_BLOCK_FOLLOW {
    width: 96%;
    padding: 0 2%;
    margin: 0 auto;
  }
}

.addModal {
  padding: 20px;
}

.followModal {
  padding: 20px;
  height: 80%;
  background-color: #59c1d5;
}

.modal-close-button {
  float: right;
}

.closeSvg {
  width: 50px;
  height: 50px;
  stroke: #888;
  fill: rgb(255, 255, 255);
  stroke-width: 0.7;
}

.studentInfo {
  margin-top: 10%;
}

.findStudent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  gap: 5%;
}

.chooseFollow {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}

#followName {
  padding: 5px;
}

.followTd {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.findFollowButton {
  width: 100px;
  height: 30px;
  background-color: white;
  color: #59c1d5;
  border: none;
  border-radius: 4px;
}

#wrap-follows {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.follow-content {
  margin: 5% 5% 5% 5%;
}

#findFollowName {
  font-size: 1.2em;
  font-weight: bold;
  height: 100%;
  width: 70%;
}
