<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/views/css/reset.css">
  <link rel="stylesheet" href="/views/css/attandance.css">
  <script type="module" src="/views/js/attendance.js"></script>
  <title>하남교회 고등부 출석부</title>
</head>
<body>
  <header>
    <div class = "header">
      <div class="chooseGrade">
        <div class="wrapGrade">
          
        </div>
      </div>
      <div class="wrapDate"></div>
      <div class="ex-box">
        <div class="loading-wrap loading-wrap--js">
          <div class="loading-spinner loading-spinner--js"></div>
          <p id="loadingMessage"></p>
        </div>
      </div>
    </div>
  </header>
  <div class="wrapAttendance"></div>
  <footer>
    <div class="footer">
      ✅ 총원 :<strong class="checkOnClass">1</strong>/
      <strong class="totalOnClass">1</strong>명
      ✅ 제적 :<strong class="checkOnList">1</strong>/
      <strong class="totalOnList">1</strong>
      ✅ 새친구 :<strong class="checkNewCount">1</strong>/
      <strong class="totalNewCount">1</strong>
    </div>
  </footer>
</body>
</html>