<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/views/css/reset.css">
  <link rel="stylesheet" href="/views/css/main.css">
  <script type="module" src="/views/js/attendance.js"></script>
  <title>하남교회 고등부 출석부</title>
</head>
<body>
  <div class="chooseGrade">
    <div class="wrapGrade">
      
    </div>
  </div>
  <footer>
    <div class="footer">
      <img class="youtubeLogo" src="/ect/image/youtube.png" alt="youtubeLogo">
    </div>
  </footer>
</body>
</html>