<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/views/css/reset.css">
  <link rel="stylesheet" href="/views/css/main.css">
  <title>하남교회 고등부 출석부</title>
</head>
<body>
  <div class="topContent">
    <img class="logoImage" src="/ect/image/dreamhigh-1160x763.png" alt="Logo">
    <h2 class="title">꿈을 갖고 세상 속으로<br>하남교회 드림하이!</h2>
  </div>
  <div class="chooseGrade">
    <div class="subtitle">학년을 선택해주세요</div>
    <div class="wrapGrade">
      <button class="gradeButton contentText" onclick="location.href='/views/html/choose-class.html?grade=1'"><h2>🐤 1학년</h2></button>
      <button class="gradeButton contentText" onclick="location.href='/views/html/choose-class.html?grade=2'"><h2>🐤 2학년</h2></button>
      <button class="gradeButton contentText" onclick="location.href='/views/html/choose-class.html?grade=3'"><h2>🐤 3학년</h2></button>
    </div>
  </div>
  <div class="goToTeacherCare">
    <div class="subtitle">목양관리 바로가기</div>
    <div class="wrapGrade">
      <button class="gradeButton contentText" onclick="location.href='/views/html/attendance.html?grade=1'"><img class="googleForm" src="/ect/image/google-form.png" alt="교사목양관리"><h2>&nbsp&nbsp클릭</h2></button>
    </div>
  </div>
  <footer>
    <div class="footer">
      <img class="youtubeLogo" src="/ect/image/youtube.png" alt="youtubeLogo">
    </div>
  </footer>
</body>
</html>